version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    restart: always
    networks:
      - rede_app

networks:
  rede_app:
    driver: bridge